@font-face {
    font-family: 'Harry Potter';
    src: url(./HARRP___.TTF);
}
body{
    
    /*background-color: #54b2e81e;*/
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(./fundo_HARRY_POTTER.jpg);
    background-size: 100%;
    background-position: center;
    color: #3a87bb;
    font-family: 'EB Garamond', serif;
    font-size: 25px;
    text-decoration: none;
    margin-left: 40px;
}

p{
    text-align: justify;
    text-indent: 40px;
    margin-right: 40px;
}

h1, h2{
    
    text-align: center;
    font-size: 40px;
    font-family: 'Harry Potter', 'fantasy', sans-serif;
    margin-top: 1%;
    margin-bottom: 1%;

}


#foto_nathalia{
    border-radius: 90%;
    margin-right: 5%;
    padding: 0.2%;
    /*background-color: #3a87bb;*/
    
}

ul{
    list-style-image: url(./requilias-da-morte-removebg-preview-removebg-preview\ \(1\).png);
}

ol{
    display: inline-block;
    vertical-align: top;
    padding: 0% 10% 0% 20%;
    
}


a{
    font-family: fantasy;
    text-decoration-line: none;
    
}
.links{
    color: #3a87bb;
}


#link-foto{
    color: white;
    background-color: #3a87bb;
    padding: 15px 30px;
    border-radius: 15px;
}

h4{
    text-align: right;
}

.link-acessados{
    display: inline-block;
    margin-left: 10%;
    text-align: center;
}