body{
    
    background-color: #54b2e850;
    color: #3a87bb;
    font-family: 'EB Garamond', serif;
    font-size: 25px;
    font
}

p{
    
    font-style: oblique;
}
h1, h2{
    
    text-align: center;
    font-family: 'Harry Potter', sans-serif;
}

#foto_nathalia{
    border-radius: 90%;
    margin-right: 5%;
}

ul{
    list-style-image: url(./requilias-da-morte-removebg-preview-removebg-preview\ \(1\).png);
    
}

li{ 
    text-decoration: none;
    text-decoration-color: aliceblue;
}

h4{
    text-align: right;
}
